<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="StringConexao" 
			connectionString="Data Source=localhost,1433;Initial Catalog=CodersContainerDb;Persist Security Info=True;User ID=sa;Password=MyPassword001;Trust Server Certificate=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>